 {
  margin: 0;
  padding: 0;
  border: 0;
}

#contenido{
  width: 1300px  ;
  padding: 0 auto;
}
#contenidoC{
justify-content: center;
}

body {
  background: url(../img/Pics/O3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #000000;
  font-family: sans-serif;
  margin: 0 auto;
}

p {
  color: #FFF;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: center;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #FF0400;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #000000;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

header #logo img{
  margin: 10px;
  float: left;
  width: 80px;
}

header #logo img{
  margin: 20px;
  float: left;
  width: 100px;
}
/* NAVIGATION*/
nav {
  float: center;
  padding: 25px 20px 0px 0px;
}

#menu-icon {
  display: none;
  font-size: 50px;
}

ul {
  list-style: none;
}

nav ul li {
  font-size: 120%;
  display: inline-block;
  float: left;
  padding: 10px;
}

nav ul li a {
  color: #CF0000;
}

.current {
  color: #FFF;
}

a:hover {
  color: #;
  color: #FFF;
}

.slider p {
  text-align: center;
  float: none;
  font-weight: bold;
  color: #FF0400;
}

.FPI  img {
  display: block;
  max-width: 100%;
  float: none;
  display: inline-block;
  vertical-align: top;
  padding: 10px 90px;
  width: 200px;
}

.sliderP p {
  text-align: center;
  float: none;
  font-weight: bold;
  color: #FF0400;
}
.sliderP {
  width: 1080px;
  max-width:1080px;
  padding-right: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto;
}
.slider {
  width: 360px;
  max-width:360px;
  padding-right: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto;
  float:left;
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.slider img {
  width: 360px;
  max-width:360px;
  padding-right: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto;
}*/

.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 5px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 570%;
  padding: 20%;
}

/* SECTION 2*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar  {
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}
.sidebar ul {
  margin: 0 auto;
}
.sidebar iframe {
  float: right;
  width: 110%;
}
.sidebar p {
  color: #ffffff;
  font-size: 80%;

  text-align: center;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}
.one-third-padding h3 {
font-weight: bold;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background: #FF1919;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size:
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #FFF;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #000000;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #FFF;
}

.social i:hover {
  color: #000000;
}

footer.second {
  border-top: 1px solid #FFF;
  text-align: center;
  margin: 0;
}

footer.second a:hover {
  color: #000000;
}

footer.second p, .second a {
  text-align: center;
  color: #FFF;
  font-size: 160%;
  line-height: 155%;
}

@media screen and (max-width: 1080px) {
  p {
    font-size: 100%;
  }
  h3 {
    font-size: 150%;
  }
  header {
    height: 80px;
    position: relative;
  }
  header #logo {
    margin: 15px 0 20px -25px;
  }

  #menu-icon {
    display: inline-block;
  }

  nav:hover ul {
    display: block;
  }

  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #020D6D;
    border: 1px solid #a5bdcd;
    right: 20px;
    width: 30%;
    opacity: .95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }



  .footer-nav {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
  }

  .footer-nav li {
    padding: 1%;
  }
  .sidebar iframe {
    float: right;
    width: 95%;
  }
}
