*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: arial;
}
ae{
  background: url(../img/Pics/O3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}
.content-all{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-img{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    float: left;
    overflow: hidden;
}

.content-img img{
    width: 100%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-1{
    width: 1000px;
    height: 1000px
    position: absolute;
    top: 0;
    background: rgba(215, 40, 40, 0.4);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -750px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-2{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(215, 40, 40, 0.4);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -800px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.content-3{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(215, 40, 40, 0.2);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -800px;
    margin-top: -500px;
    -webkit-transition: all 900ms;
    transition: all 900ms;
    -webkit-box-shadow: 0px 1px 20px -5px black;
    box-shadow: 0px 1px 20px -5px black;
}

.content-4{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(215, 40, 40, 0.2);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -850px;
    margin-top: -500px;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}

.content-img:hover .content-1{
    width: 222%;
    -webkit-transition: all 900ms;
    transition: all 900ms;
}

.content-img:hover .content-2{
    width: 222%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-img:hover .content-3{
    width: 222%;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.content-img:hover .content-4{
    width: 222%;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}

.content-img:hover img{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0.8;
}

.content-txt{
    position: absolute;
    top: 0;
    width: 400px;
    padding: 10px;
    z-index: 10;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.content-txt h2{
    font-size: 30px;
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-txt p{
    font-size: 20px;
    margin-top: 10px;
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-img:hover h2{
    opacity: 1;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.content-img:hover p{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
#contenido{
  width: 1300px  ;
  padding: 0 auto;
}
#contenidoC{
justify-content: center;
}

F {
  background: url(../img/Pics/O1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #000000;
  font-family: sans-serif;
  margin: 0 auto;
}
#contenido{
  background: url(../img/Pics/O2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}
body {
  background-image: url(../img/Pics/F.png);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-color: #000000;
    font-family: sans-serif;
    margin: 0 auto;
}

p {
  color: #FFF;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #FF0400;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
ul {
  list-style: none;
}

h4 {
  font-size: 175%;

  line-height: 155%;
  font-weight:bold;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #000000;
}

pm {
  color: #FFF;
  font-size: 120%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: center;
  float: inherit;
  font-weight: bold;
}

u2 img{
  width: 360px;
  max-width:360px;
  padding-right: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto;
  float:left;
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}
.slider2 {
  width: 360px;
  max-width:360px;
  padding-right: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto;
  float:left;
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 0;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

header #logo img{
  margin: 10px;
  float: left;
  width: 80px;
}

header #logo img{
  margin: 20px;
  float: left;
  width: 100px;
}
/* NAVIGATION*/
nav {
  float: center;
  padding: 25px 20px 0px 0px;
}

#menu-icon {
  display: none;
  font-size: 50px;
}

a img {
  margin-left: auto;
  margin-right: auto;
}
nav ul li {
  font-size: 100%;
  display: inline-block;
  float: left;
  padding: 10px;
}

nav ul li a {
  color: #CF0000;
}

.current {
  color: #FFF;
}

a:hover {
  color: #;
  color: #FFF;
}

.slider p {
  text-align: center;
  float: none;
  font-weight: bold;
  color: #FF0400;
}

.FPI  img {
  display: block;
  max-width: 100%;
  float: none;
  display: inline-block;
  vertical-align: top;
  padding: 10px 70px;
  width: 360px;
}

.sliderP p {
  text-align: center;
  float: none;
  font-weight: bold;
  color: #FF0400;
}
.sliderP {
  width: 1080px;
  max-width:1080px;
  padding-right: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto;
}
.slider {
  width: 720px;
  max-width: 720px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.slider img {
  width: 720px;
  max-width:720px;
  text-align: center;
  margin-right: 0 auto;
  margin-top: 0 auto;
}*/

.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 5px;
  text-align: center;
  margin-top: 3%;
}

.Menus img {
  width: 1080px;
  height:520px;
  float: none;
  padding: 10px;
}
.Menus img:hover {
color: #000000;
}

.slider4{
width: 55%;
text-align: center;
float: none;
margin: 0 auto;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 570%;
  padding: 20%;
}

/* SECTION 2*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar  {
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}
.sidebar ul {
  margin: 0 auto;
}
.sidebar iframe {
  float: right;
  width: 110%;
}
.sidebar p {
  color: #ffffff;
  font-size: 80%;

  text-align: center;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}
.one-third-padding h3 {
font-weight: bold;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background-color: red;
  width: 1500px;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size:
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 140%;
  color: #FFF;
  font-weight: 200;
}

.footer-nav a:hover {
  color: #000000;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #FFF;
}

.social i:hover {
  color: #000000;
}

footer.second {
  border-top: 1px solid #FFF;
  text-align: center;
  margin: 0;
}

footer.second a:hover {
  color: #000000;
}

footer.second p, .second a {
  text-align: center;
  color: #FFF;
  font-size: 160%;
  line-height: 155%;
}

@media screen and (max-width: 1080px) {
  p {
    font-size: 120%;
  }
  h3 {
    font-size: 170%;
  }
  header {
    height: 80px;
    position: relative;
  }
  header #logo {
    margin: 15px 0 20px -25px;
  }

  .FPI  img {
    display: block;
    max-width: 100%;
    float: left;
    display: inline-block;
    vertical-align: top;
    padding: 10px 70px;
    width: 360px;
  }



  .footer-nav {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
  }

  .footer-nav li {
    padding: 1%;
  }
  .sidebar iframe {
    float: right;
    width: 95%;
  }
